.darkmode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background-color: transparent;
  transition: background-color 0.4s, color 0.4s;
  border: none;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  text-align: inherit;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}

.darkmode:hover svg {
  fill: #03f4fb;
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .darkmode {
  & > .dayIcon {
    display: inline;
  }
  & > .nightIcon {
    display: none;
  }
}

:root .darkmode {
  & > .dayIcon {
    display: none;
  }
  & > .nightIcon {
    display: inline;
  }
}

/* Hide/show the theme-based images */
.theme-image {
  img {
    display: none;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
}

:root[saved-theme="dark"] .theme-image .dark-img {
  display: block;
}

:root[saved-theme="light"] .theme-image .light-img {
  display: block;
}