@use "../../styles/variables.scss" as *;

header {
  display: block;
  margin-top: 1rem;
}

#links-header {
  display: flex;
  align-items: center;
  justify-content: center; // Center the items
  gap: 30px;
  padding: 10px 30px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

#links-header a {
  color: #333;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1;
  padding: 10px 0;
  display: inline-block;
}

#links-header a:hover {
  color: #007bff;
}

// #links-header {
//   display: flex;
//   flex-wrap: wrap;
//   column-gap: 1em;
//   font-size: 1.2em;
//   justify-content: space-between;
//   margin: 0 0.2em;

//   span {
//     margin-top: 0.75em;
//   }

//   img {
//     height: 1em;
//     margin: 0 0.3em 0 0;
//     vertical-align: sub;
//   }

//   a {
//     color: var(--dark);
//   }
// }

@media (max-width: $mobileBreakpoint) {
  #links-header > * {
    width: calc(33.33% - 0.67em); /* 33.33% width with some gap */
  }

  #links-header > *:nth-child(3n-1) {
    text-align: center;
  }

  #links-header > *:nth-child(3n) {
    text-align: right;
  }
}